//TODO: move this styling to own component
.overview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: solid 1px silver;
    gap:8px;
    width: 100%;
    padding: 8px;
}

.notes-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: solid 1px silver;
    gap:8px;
    width: 100%;
    padding: 8px;
}

h3 {
    margin-top: 8px;
}
 
.header {
    font-weight: bold;
    text-decoration: underline;
}

.note-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
}
